@import '../../../../assets/styles/variables';

.container-fluid{
    padding: 0;
    
    .project {

        & > div {
            padding: 0;
        }

        .link {
            font-size: $bigFontSize;
        }
        
        .link:hover {
            color: $gold;
            transition: 500ms;
            cursor: pointer;
        }
    }
}