// COLORS
$gold: #D1C661;
$red: #CB2D2D;
$grey: #C4C4C4;

$primaryLightColor: #FFF;
$primaryDarkColor: #272930;

$primaryTextColor: #333;

// BACKGROUNDS
$backgroundDark: rgba(9, 18, 23, 0.6);
$hrBackground: rgba(255, 255, 255, 0.5);
$transparentBlackBackground: rgba(9, 18, 23, 0.7);
$transparentBackground: rgba(0, 0, 0, 0);
$transparentLightBackground: rgba(255, 255, 255, 0.6);


// FONTS
$smallFontSize: 16px;
$mediumFontSize: 18px;
$regularFontSize: 20px;
$largeFontSize: 24px;
$bigFontSize: 28px;
$extraBigFontSize: 48px;
$extraBigTitle: 72px;

$fontFamily: 'Alef';

// BORDERS
$regularBorderRadius: 33px;

// WIDTH
$maxWidth: 100%;
